.form-check input[type="checkbox"] {
    opacity: 0;
}

.form-check label {
    position: relative;
    color: #C0F0E6;
}

.form-check label::before,
.form-check label::after {
    display: inline-block;
    position: absolute;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    left: -18px;
    height: 16px;
    width: 16px;
    top: 3px;
    line-height: 16px;
}

.form-check label::before {
    content: '';
    border: 2px solid #C0F0E6;
}

.form-check label::after {
    color: #C0F0E6;
    left: -20px;
}

.form-check input[type="checkbox"]:checked+label::after {
    content: 'check';
}

.form-check input[type="checkbox"]:focus + label::before {
    outline: #F2FFFC solid 1px;
}