@import './styles/_spinner.css';
@import './styles/_checkbox.css';

.hidden {
    display: none;
}

.sticky-footer {
    height: 8rem;
    background-color: #337788;
    position: sticky;
    bottom: 0;
}

a.card {
    color: #474747;
    background-color: #f6f6f6;
    transition: background-color 200ms;
}

a.card:hover {
    text-decoration: none;
    background-color: #fff;
}