.form-check {
    input[type="checkbox"] {
        opacity: 0;
    }

    label {
        position: relative;
        color: $color1;

        &::before,
        &::after {
            display: inline-block;
            position: absolute;
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            left: -18px;
            height: 16px;
            width: 16px;
            top: 3px;
            line-height: 16px;
            color: $color1;
        }

        &::before {
            content: '';
            border: 2px solid $color1;
        }
    }

    input[type="checkbox"] {
        &:checked + label::after {
            content: 'check';
            left: -20px;
        }
        &:focus + label::before {
            outline: $color0 solid 1px;
        }

    }
}