$color0: #f2fffc;
$color1: #c0f0e6;
$color2: #93dfd1;
$color3: #6fcdc0;
$color4: #54b9b3;
$color5: #409da2;
$color6: #337788;
$color7: #275f8c;
$color8: #1a3b8c;
$color9: #0d0e8a;
$color10: #220087;

$dark-text: #474747;